.summer_gallery {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.summer_gallery img {
    width: 100%;
}

.summer_gallery img.active {
    position: absolute;
    width: 80%;
    left: 10%;
    z-index: 2;
}

.backdrop {
    background: #000000bf;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}